html,
body,
#root {
  height: 100%;
}

body {
  animation: animateBg 120s linear infinite;
  background-image: linear-gradient(
    0deg,
    #5ca1da,
    #c0abdc,
    #9995d8,
    #5ca1da,
    #c0abdc
  );
  background-size: 100% 800%;
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
